AI-Powered Multi-Tool Agent.json
{
  "name": "AI-Powered Multi-Tool Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        128,
        0
      ],
      "id": "33b4d2fe-5e79-4f9d-8326-404df2578af1",
      "name": "Telegram Trigger",
      "webhookId": "754ae497-ec46-4ac9-ae62-e1f07b321909",
      "credentials": {
        "telegramApi": {
          "id": "l3T3u4rfEUvBy3wQ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# Role\nYou an intelligent AI assistant that helps users via Telegram.\nYou are talking to {{ $json.message.from.first_name }}{{ $json.message.from.last_name }}\n\n# Behavior\nYou should:\n- Understand the user's intent clearly.\n- Choose the correct tool from the available ones ONLY when needed.\n- Otherwise, answer directly.\n\n# Available Tools & When to Use Them:\n\n## 1. Google Gemini Chat Model\nUse for:\n- Natural conversations\n- Creative writing\n- Open-ended questions\n- Explaining concepts\n- General text generation\n\n## 2. SerpAPI\nUse for:\n- Real-time or factual information from the web\n- News, current events, live sports, current prices\n- Anything requiring recent or external data\n\nWhen using the SerpAPI tool, always structure the call like:\nUse tool SerpAPI with input:\n{\n  \"q\": \"search your query here\"\n}\n\n## 3. Calculator\nUse for:\n- Arithmetic\n- Percentages\n- Unit conversions\n- Date or time differences\n\nOnly use if the question involves numbers or calculations. Examples:\n- \"What is 40% of 500?\"\n- \"Convert 20 km to miles\"\n\n\n# 4. Wikipedia\nUse for:\n- When searching for a person or company\n\n# 5. Google Calender\nUse for:\n- When creating a calender event \n- Deleting or modifying calender events"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "20c8d7c5-bfdb-4cae-bbe1-cd05d1c3d098",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "67e71d53-caa8-41f0-8b06-23e64d400b77",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FqRHqJYfdsyXRhO0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        608,
        224
      ],
      "id": "98532b61-0fb8-42e8-a283-bfe63ca12f11",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        736,
        224
      ],
      "id": "63f081e0-51cc-43d0-80cd-57eff30eea1c",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        864,
        224
      ],
      "id": "f0f3d63d-e044-467e-bf42-d327a0ce8dac",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "0FqvyJ9vU329dMU2",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        0
      ],
      "id": "2c0213d2-c49e-4e96-9a59-82cb45ded903",
      "name": "Send a text message",
      "webhookId": "204c75f0-e05f-4df8-8d67-7290a1eabb15",
      "credentials": {
        "telegramApi": {
          "id": "l3T3u4rfEUvBy3wQ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "shashireddy99124@gmail.com",
          "mode": "list",
          "cachedResultName": "shashireddy99124@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        992,
        224
      ],
      "id": "e3af0fc7-ee77-452a-a82e-8abb4e78288a",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "67vqbaCz82Hux03U",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "shashireddy99124@gmail.com",
          "mode": "list",
          "cachedResultName": "shashireddy99124@gmail.com"
        },
        "limit": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1120,
        224
      ],
      "id": "081b5f9d-75f0-467f-ba05-27bb0667bf1a",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "67vqbaCz82Hux03U",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "6732713969"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "b710f96e-c607-4517-ad79-42636de68998",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fcf7b52f-c08e-4901-ac58-857be65d0b90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f39a16feb72322f78e415962f7fc6b62548b9301ba8b88c4bf48ae161705ff96"
  },
  "id": "DLDCzN_pPtNaYiOHkG9_l",
  "tags": []
}